#order-book {
    grid-area: underbar1;
    white-space: nowrap;
}

#order-book table {
    display: inline-table;
    width: 50%;
    text-align: right;
    border-collapse: collapse;
    table-layout:fixed;
}
#order-book td {
    margin: 0;
    padding: 0;
    border: 0;
    width: 25%;
}
#order-book .bids tbody tr {
    background: #352;
}
#order-book .asks tbody tr {
    background: #422;
}
#order-book table thead td {
    background: none !important;
}