html, body, #app-root {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    background: #404040;
    color: rgb(224, 224, 224);
    font-family: sans-serif;
}

#app-root {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar1 content content"
        "sidebar2 underbar1 underbar2"
        "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: 0fr auto auto 0fr;
    justify-content: stretch;
    align-content: stretch;
}

.widget {
    margin: 2px;
    border-radius: 2px;
    padding: 2px;
    background: #202020;
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
    min-width: fit-content;
}

#header {
    grid-area: header;
}

#footer {
    grid-area: footer;
}

#tradeticker {
    grid-area: sidebar1;
}
#fundingticker {
    grid-area: sidebar2;
}

#orderbook {
    grid-area: underbar1;    
}

#trades {
    grid-area: underbar2;    
}

#candles {
    grid-area: content;    
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0; 
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

table, p {
    font-size: 12px;
}

.ticker {
    width: 100%;
}
.ticker thead tr td {
    white-space: nowrap;
}

.ticker tr td {
    width: 0;
}

.ticker tr td:nth-last-child(1),
.ticker tr td:nth-last-child(2),
.ticker tr td:nth-last-child(3) {
    text-align: right;
}

.positive {
    color: rgb(0, 255, 0);
}
.negative {
    color: rgb(255, 128, 128);
}
